<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
  </head>
  <body>
<h2>Are you sure you want to delete the following course?</h2>
<p>
  Name: {{course.name}}
</p>
<p>
  Description: {{course.description}}
</p>
<p><form class="no" action="/" method="post">
  {% csrf_token %}
  <input type="submit" name="no" value="No">
</form></p>
<form class="yes" action="/delete_yes/{{course.id}}" method="post">
  {% csrf_token %}
  <input type="submit" name="yes" value="Yes, I want to delete this">
</form>
  </body>
</html>
