<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add a student to all bootcamp courses</title>
  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
<script src="{% static 'courses/js/main.js' %}" > </script>
</head>
<body>
  <div class="line"><span class="text html basic"><span>{{somekey}}</span></span></div>

  <form action="/add" method="POST">
    {% csrf_token %}
    <p>Add a new course</p>
    Name: <input type="text" name="name" value="">
    Description: <textarea name="description" rows="8" cols="40"></textarea>
    <input type="submit" method='POST' name="add" value="Add">
  </form>

  <p>Courses</p>
  <table>
    <tr>
      <th>Course Name</th>
      <th>Description</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
  {% for course in courses %}
    <tr>
      <td>{{course.name}}</td>
      <td>{{course.description}}</td>
      <td>{{course.created_at}}</td>
      <td><a href="/delete/{{course.id}}">remove</a></td>
    </tr>
  {% endfor %}
  </table>

</body>
</html>
